**/node_modules/**
**/dist/**
**/dist-ssr/**
**/coverage/**
**/.cache/**
**/.vite/**
**/.vite-temp/**
**/.temp/**
**/public/**
**/docker/supabase/.generated/**
**/application/custom-comp-app/src/views/Slam/data/**
main-app/src/micro-apps.json
packages/create-app-dock/template/
pnpm-lock.yaml
